#popularBooksContainer {
    display: flex;
    flex-wrap: wrap; /* Если карточки не помещаются, они перейдут на новую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    gap: 20px; /* Отступы между карточками */
    padding: 20px;
  }
  
  .book-card img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Показывает всю картинку, могут появиться поля */
    max-height: 250px;   /* Можно убрать, если не хотите ограничивать высоту */
  }
  